<!-- blog/templates/blog/post_confirm_delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Post</title>
</head>
<body>
    <h1>Delete Post</h1>
    <p>Are you sure you want to delete the post "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
        <a href="{% url 'post-list' %}">Cancel</a> <!-- Add cancel link to go back to post list -->
    </form>
</body>
</html>
