<!doctype html>
{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--<title>{% block title %}{% endblock %}</title> -->
</head>
<body>
    <!--      BootStrap Code Copy  //NAVBAR            START-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'images/logo_mm.png' %}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'suggestion_list' %}">Suggestion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'customer_list' %}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all_products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'orders_list' %}">Orders</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--      BootStrap Code Copy              END-->


    <!-- Dynamic content-->
    {% block content %}
    {% endblock %}

    <!-- BS - Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f0f0f0; padding: 1rem; text-align: center;">
    <p>Sivasaran.S © Copyright 2024</p>
</footer>

</body>
</html>
